# PostgreSQL configuration file

listen_addresses = '*'
max_connections = 100
shared_buffers = 256MB
logging_collector = on
log_directory = 'log'
log_filename = 'postgresql.log'
log_line_prefix = '%t [%p-%l] %q%u@%d '
log_timezone = 'UTC'
datestyle = 'iso, mdy'
timezone = 'UTC'
